.ticket-container{
    padding: 20vh 20vw;
}

.ticket-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #8dd9f7;
}

.ticket-title{
    font-size: 3rem;
    font-weight: 800;
}

.ticket-purchaser{
    font-size: 1.8rem;
    font-weight: 600;
}

.ticket-amount{
    font-size: 1.3rem;
    font-weight: 600;
}

.ticket-date, .ticket-code{
    font-size: 0.9rem;
    color: #333;
}

.product-item-ticket{
    background-color: #fccc85;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 0.5rem;
}